*{
    /* margin: 0; */
    font-family: "Roboto", sans-serif;
    /* font-family: "Bebas Neue", sans-serif; */
}
body{
    display: flex;
}

.sidebar{
    width: 180px;
    min-height: 100vh;
    background-color: #111827;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar-top,
.sidebar-center,
.sidebar-bottom{
    width: 80%;
    /* background-color: blue; */
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4b4b4b;
}
.sidebar-top{
    /* color: white; */
}
.sidebar-bottom{
    border: none;
    justify-content: center;
}

.logo{
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
    
}

.brand{
    font-weight: bold;
    cursor: pointer;
}
.list{
    list-style: none;
    padding: 0;
    width: 100%;
}
.list-item{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.list-item-icon{
   width: 30px;
   font-size: 20px;
}

.list-item:hover,
.list-item.active{
background-color: #374151;
color: white;
}

.color-box{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.dark{
    background-color: #111827;
}
.night{
    /* background-color: #312e81; */
    background-color: #315d31;
}
.light{
    background-color: #f3f4f6;
}

@media screen and (max-width: 576px) {
    .sidebar{
        width: 50px;
    }
    .brand,.list-item-text{
        display: none;
    }
    .sidebar-bottom{
        flex-direction: column;  
    }
    .color-box{
        margin-bottom: 20px;
        margin-right: 0px;
    }
}

.reamingDiv{
    margin-left: 3px;
    width: 100%;
    background-color: #111827;
    color: rgb(255, 255, 255);
}


.bgDark{
    margin-left: 3px;
    width: 100%;
    background-color: #111827;
    color: white;
}
.bgGreen{

    margin-left: 3px;
    width: 100%;
    background-color: #1A3636;
    color: rgb(246, 246, 246);
}
.bgLight{
    margin-left: 3px;
    width: 100%;
    background-color: #f3f4f6;
}

.sidebar.dark{
    background-color: #111827;
    color: #f3f4f6;
}
.list-item.active.dark{
    background-color: #d1d5db;
}

.sidebar.night{
    background-color: #1A3636;
    color: #ffffff;
}
.list-item.active.night{
    background-color: #1A3636;
}


.sidebar.light{
    background-color: #f3f4f6;
    color: #111827;
}
.list-item.active.light{
    background-color: #f3f4f6;
 
}